@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap");

* {
  margin: 0;
  font-family: sans-serif, "Poppins";
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #0c0e07;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-card-container {
  height: 35rem;
  width: 25rem;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-holder {
  height: 35rem;
  /* width: 100vw; */
  /* background-color: aquamarine; */
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
}

.hero-img {
  width: 25rem;
  position: relative;
}

.overlay {
  position: absolute;
  color: azure;
  font-weight: bold;
  text-align: left;
  font-size: 30px;
  padding: 1rem;
  height: 33rem;
  width: 23rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.47);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.overlay p {
  letter-spacing: 3px;
  font-weight: lighter;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}

.hero-name {
  top: 5rem;
}

.description {
  font-size: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 35rem;
  width: 25rem;
}
